@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/img/BG_EN.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 45px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 45px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  display: flex;
  width: 200px;
  height: 100px;
  position: relative;
  top: 120px;
  left: 60px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(13, 86, 100) 100%);
  font-size: 24px;
  color: #fbf4ff;
  font-family: 'Rubik Scribble';
  font-weight: 600;
  border-radius: 35px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.win {
  background-color: aquamarine;
}

.board {
  display: block;
  position: relative;
  left: 2vw;
  top: 100px;
}